.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    overflow-x: hidden;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #09d3ac;
}

#root {
    min-height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
}
.app {

}

.app_main {
    display: flex;
    justify-content: center;
}

